src/BankingSystemBackend/.idea/**
src/BankingSystemBackend/HELP.md
src/BankingSystemBackend/target/
src/BankingSystemBackend/!.mvn/wrapper/maven-wrapper.jar
src/BankingSystemBackend/!**/src/main/**
src/BankingSystemBackend/!**/src/test/**
src/BankingSystemBackend/.idea
src/BankingSystemBackend/*.iws
src/BankingSystemBackend/*.iml
src/BankingSystemBackend/*.ipr
# compiled output
src/BankingSystemFrontend/dist
src/BankingSystemFrontend/tmp
src/BankingSystemFrontend/out-tsc
src/BankingSystemFrontend/node_modules
src/BankingSystemFrontendpackage-lock.json
src/BankingSystemFrontend/.idea
src/BankingSystemFrontend.project
src/BankingSystemFrontend.classpath
src/BankingSystemFrontend.c9/
src/BankingSystemFrontend*.launch
src/BankingSystemFrontend.settings/
src/BankingSystemFrontend*.sublime-workspace
src/BankingSystemFrontend.vscode/*
src/BankingSystemFrontend!.vscode/settings.json
src/BankingSystemFrontend!.vscode/tasks.json
src/BankingSystemFrontend!.vscode/launch.json
src/BankingSystemFrontend!.vscode/extensions.json
src/BankingSystemFrontend/.sass-cache
src/BankingSystemFrontend/connect.lock
src/BankingSystemFrontend/coverage
src/BankingSystemFrontend/libpeerconnection.log
src/BankingSystemFrontendnpm-debug.log
src/BankingSystemFrontendtestem.log
src/BankingSystemFrontend/typings
src/BankingSystemFrontend/e2e/*.js
src/BankingSystemFrontend/e2e/*.map
src/BankingSystemFrontend.DS_Store
src/BankingSystemFrontendThumbs.db

